QWidget{
    background-color:rgb(230, 204, 178);
}

QPushButton{
    background-color: rgb(176, 137, 104);
    color: rgb(237, 224, 212);

    border-radius: 20%;

    border-color: rgb(156, 102, 68);
    border-width: 2px;
    border-style: solid;
}

QPushButton::hover{
    background-color: rgb(127, 85, 57);
}

#about_this_app_button{
    border-radius: 10%;
}

#title_label{
    color: rgb(127, 85, 57);
}

#subtitle_label{
    color: rgb(177, 105, 77);
}




